<div *ngIf="politicians$ | async as politicians; else noPoliticians">
  <neocratia-politicians-list
    [politicians]="politicians"
  ></neocratia-politicians-list>
  <button mat-raised-button color="primary" (click)="createPolitician()">
    Crear Político
  </button>
</div>

<ng-template #noPoliticians>
  <div>
    <h2>No hay políticos aún</h2>
    <button mat-raised-button color="primary" (click)="createPolitician()">
      Crear Político
    </button>
  </div>
</ng-template>

<div *ngIf="params$ | async as params">
  {{ params.params.id }}
</div>
