<div style="padding: 2%;">
  <h3>
    Lleva el control de las decisiones que toman los servidores públicos
  </h3>
  <mat-form-field style="padding: 2%;">
    <mat-label>Político</mat-label>
    <mat-select [(ngModel)]="selectedPolitician">
      <mat-option *ngFor="let politician of politicians" [value]="politician">
        {{ politician.info.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="padding: 2%;">
    <mat-label>Decisión</mat-label>
    <mat-select [(ngModel)]="selectedDecision">
      <mat-option *ngFor="let decision of decisions" [value]="decision">
        {{ decision.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span style="padding: 2%;">VOTO:</span>
  <mat-radio-group
    style="padding: 2%;"
    color="primary"
    aria-label="Selecciona el voto realizado"
    [(ngModel)]="vote"
  >
    <mat-radio-button style="padding: 2%;" value="yes">SI</mat-radio-button>
    <mat-radio-button style="padding: 2%;" value="no">NO</mat-radio-button>
    <mat-radio-button style="padding: 2%;" value="blank"
      >BLANK</mat-radio-button
    >
  </mat-radio-group>
  <button mat-raised-button (click)="setVote()">Guardar Voto</button>
</div>
