<div class="menu-container ">
  <div class="user-card">
    <img class="logo-ng-honduras" src="/assets/logo-ng-honduras.png" />
  </div>
  <mat-list>
    <mat-list-item [routerLink]="['']">
      INICIO
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/politicos']"
      routerLinkActive="router-link-active"
    >
      POLITICOS
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/decisiones']"
      routerLinkActive="router-link-active"
    >
      DECISIONES
    </mat-list-item>
  </mat-list>
</div>
