<div class="menu-container ">
  <div class="user-card ">
    <img src="/assets/logo-angular-honduras.svg" />
  </div>
  <mat-list>
    <mat-list-item
      [routerLink]="['/politicos']"
      routerLinkActive="router-link-active"
    >
      Politicos
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/activistas']"
      routerLinkActive="router-link-active"
    >
      Activistas
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/decisiones']"
      routerLinkActive="router-link-active"
    >
      Decisiones
    </mat-list-item>
  </mat-list>
</div>
