<div class="menu-container ">
  <div class="user-card">
    <img
      class="logo-ng-honduras"
      *ngIf="!user"
      src="/assets/logo-ng-honduras.png"
    />
    <p *ngIf="user">{{ user | json }}</p>
  </div>
  <mat-list>
    <mat-list-item [routerLink]="['']">
      Inicio
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/politicos']"
      routerLinkActive="router-link-active"
    >
      Politicos
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/decisiones']"
      routerLinkActive="router-link-active"
    >
      Decisiones
    </mat-list-item>
  </mat-list>
</div>
