<h2 style="padding: 2%">Lista de políticos 😇</h2>
<div *ngFor="let politician of politicians" style="padding: 2%;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ politician.info?.name }}</mat-card-title>
      <mat-card-subtitle>{{ politician.info?.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ politician.info.resume }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" [routerLink]="politician.id">
        Ver
      </button>
    </mat-card-actions>
  </mat-card>
</div>
